# This configuration resolves Git warnings related to line endings:
#   This diff contains a change in line endings from 'LF' to 'CRLF'.
#
# After creating the config, the above error is hidden but may show
# this one for some files:
#   This diff contains a change in line endings from 'CRLF' to 'LF'.
#
# Refer to the following link for more information about this
# configuration file:
#   https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings

# Use LF for all files as this project runs on a Linux-driven controller
LICENSE text=auto eol=lf
.gitignore text=auto eol=lf
.gitattributes text=auto eol=lf
.env.example text=auto eol=lf

*.md text=auto eol=lf
*.txt text=auto eol=lf
*.py text=auto eol=lf
*.conf text=auto eol=lf
*.sh text=auto eol=lf
*.service text=auto eol=lf

copyright text=auto eol=lf
install text=auto eol=lf
changelog text=auto eol=lf
control text=auto eol=lf
rules text=auto eol=lf
Jenkinsfile text=auto eol=lf
50wb-alice text=auto eol=lf