#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=wb-mqtt-alice
export DEB_VERSION=$(shell dpkg-parsechangelog -S Version)
# The version test reads package metadata, which pybuild creates only at install,
# that is after the tests
export PYBUILD_BEFORE_TEST=cd {dir} && {interpreter} setup.py --quiet egg_info --egg-base {build_dir}

override_dh_builddeb:
	dh_builddeb -- -Zgzip

# Python req resolved by setup.py
# File installation will be done only via debian/install
override_dh_auto_install:
	dh_auto_install
	dh_install --fail-missing

override_dh_installsystemd:
	dh_installsystemd --name=wb-mqtt-alice-client
	dh_installsystemd --name=wb-mqtt-alice-config

# Installation will be done only via debian/install
%:
	dh \$@ --with python3  --buildsystem=pybuild
