#!/usr/bin/make -f

export DH_VERBOSE=1

# Installation will be done only via debian/install
override_dh_auto_configure:
	dh_auto_configure --buildsystem=none

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_build:
	# Skip build stage

%:
	dh \$@
